body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background-color: #f4f4f4;
    }

h1{

color: blue;
margin-top: 5%;
justify-content:left;
position: initial;

}

#botones{
    display: grid ;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    padding: 20px;
    font-size: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background: #e0e0e0;
}
    
.calculadora
    {
        width: 400px;
        height: 60vh;
        background: #807d7dde;
        padding: 20px;
        border-radius: 10px;
        
    }

    #pantalla{
        width: 93%;
        height: 80px;
        text-align: right;
        font-size: 1.5em;
        margin-bottom: 10px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: rgb(224, 228, 232);
    }

    .operador{
        background: #ff9800;
        color: white;
    }

    .igual{
        background: #4caf50;
            color: white;
    }